n8n/workflows/book-appointment.json
{
  "name": "book-appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1d8c5b1e-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "book-appointment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "ok",
              "type": "boolean",
              "value": "={{ $json.body.date !== undefined }}"
            },
            {
              "id": "a2",
              "name": "confirmation_id",
              "type": "string",
              "value": "=appt-{{$now.toMillis()}}"
            },
            {
              "id": "a3",
              "name": "echo",
              "type": "object",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1d8c5b1e-2222-4222-8222-222222222222",
      "name": "Build response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: $json.ok, confirmation_id: $json.confirmation_id, payload: $json.echo } }}",
        "options": {}
      },
      "id": "1d8c5b1e-3333-4333-8333-333333333333",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Build response", "type": "main", "index": 0 }]] },
    "Build response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "voice-agent" },
    { "name": "appointment" }
  ]
}
